<?xml version="1.0"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        >

    <testsuites>
        <testsuite name="SimpleCollection">
            <file>./tests/ConstructionTests.php</file>
            <file>./tests/ImplementsTests.php</file>
            <file>./tests/ArrayAccessTests.php</file>
            <file>./tests/SeekableIteratorTests.php</file>
            <file>./tests/CountableTests.php</file>
            <file>./tests/FunctionalTests.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>